<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

  {{!-- First load script --}}
  <script src="/javascripts/script.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {{!-- MapBox CDN --}}
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>

  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css'
    type='text/css' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="uk-navbar-container" uk-navbar="mode: click">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        {{#if user}}
        <li class="uk-active">
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/zones">Zones</a>
        </li>
        {{else}}
        <li>
          <a href="/">TapCar Ads</a>
        </li>
        {{/if}}
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
          <a href="#">{{#if user}}Welcome {{user.name}}{{else}}Enter{{/if}}</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-active">
                {{#if user}}
                <a href="/dashboard/{{user._id}}/edit">My account</a>
                {{else}}
                <a href="/auth/login">Sign In</a>
                {{/if}}
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                {{#if user}}
                <a href="/auth/logout">Logout</a>
                {{else}}
                <a href="/auth/register">Create account</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</body>

</html>